Source: libhybris
Priority: extra
Maintainer: Sergio Schvezov <sergio.schvezov@canonical.com>
Build-Depends: debhelper (>= 8.0.0),
               libgles2-mesa-dev
Standards-Version: 3.9.3
Section: libs
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/libhybris.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/libhybris.git;a=summary

Package: libhybris-test
Section: libdevel
Architecture: any
Depends: libhybris1 (= ${binary:Version})
Description: Allows to run bionic-based HW adaptations in glibc systems
 Test applications for libhybris

Package: libhybris1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Allows to run bionic-based HW adaptations in glibc systems
 Hybris is a solution that commits hybris, by allowing us to use bionic-based HW adaptations in glibc systems
 .
 This is the development package
